body {
    color: black; 
    background-color: white; 
    font-family: Arial, sans-serif; 
    margin: 0;
    padding: 0;
}


#myheader {
    font-family: 'Georgia', serif;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.paragraph {
   padding: 60px;
  text-align: center;
  background: #1abc9c;
  color: white;
}

.navbar {
    position: absolute; 
    top: 16em;          
    left: 0em;         
    width: 100%;       
    list-style-type: none; 
    margin: 0;
    padding: 0;
    background-color: dimgray;
    overflow: hidden; 
    display: flex; 
}

.navbar li {
    padding: 14px 20px;
    color: white;
    text-align: center;
    cursor: pointer;
    flex: 1; 
}

.navbar li:hover {
    background-color: darkgrey; 
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: relative;
    background-color: darkgrey;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content p {
    color: white;
    padding: 10px;
    margin: 0;
    text-align: center;
    border-radius: 10px;
}

.dropdown-content p:hover {
    background-color: lightgray; 
}

.dropdown:hover .dropdown-content {
    display: initial; 
}

em{
    color: blue; 
    font-style: normal;
}

@media all {
    body {
        font-size: 16px;
    }
}

@media print {
    body {
        color: black;
        background-color: white;
    }
    .navbar {
        display: none; 
    }
}
